body {
    width: 300px;
    height: 400px;
    position: relative;
    vertical-align:middle;
    display: inline-block;
    background-color: rgb(192, 101, 101);
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
  }
.header{
    text-align: left;
}
h2{
    text-align: left;
    padding-top: 8px;
    padding-left: 20px;
}
.tweetBox {
    width:300px;
    height: 250px;
    background-color: #f7f7f7;
    border-radius: 12%;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    justify-content: left;
    color: #4d4a4a;
  }
.tweetBoxContent{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
}
img{
    padding-left: 20px;
    padding-top: 20px;
}
.warning{
    padding-top: 20px;
    text-align: center;
}